<div class="content" style="text-align: center;">
		<span style="height:49px;width:100%;float:left;" id="">
		<img src="<?php echo $url;?>catalog/view/viabillepay/viabill_logo.png" alt="ViaBill Solution">&nbsp;ViaBill køb nu - betal, når du vil 	</span>
</div>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary" />
  </div>
</div>

<script type="text/javascript" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" charset="UTF-8">
</script>
 
<script type="text/javascript">
	function newWindow() {
      paymentwindow = new PaymentWindow({
      <?php
      foreach($params as $key => $value)
      {
        if($key != "hash")
        {
          echo "'" . $key . "': \"". $value . "\",";
        }
      }
      ?>
			'hash': "<?php echo $params["hash"]; ?>"
      });
	}
</script>
 
<script type="text/javascript"><!--

var openwindowtries = 0;

$('#button-confirm').bind('click', function() {
	newWindow(); paymentwindow.open(); openwindowtries = 5;
});

function openwindow()
{
	if(openwindowtries < 5)
	{
		if(PaymentWindow != undefined)
		{
			newWindow(); paymentwindow.open(); openwindowtries = 5;
		}
		
		openwindowtries++;
	}
}

$(document).ready(function() {
	setTimeout("openwindow()", 500)	
});

//--></script> 

